<!DOCTYPE html>




<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/static/icon/favicon.ico">
  <title>Startseite</title>
  <script type="text/javascript" src="/static/index.js"></script>
  <link rel="stylesheet" type="text/css" href="static/styles/ex_style.css"
  </head>

  <body>

    <nav class="topNav" id="topNav">
    </nav>

    <div class="content">
      <h1>Heute:</h1>

      <input type="date" id="filterDate" name="filterDate" class="dateInput"/>
      <button type="button" id="btnFilterDate">Nach Datum filtern</button>

      <div id="kinderinfo"></div>
    </div>

    <div class="content">
      <h1>Geburtstage:</h1>

      <div id="birthdays"></div>
      <h2>Geschenke:</h2>
      <div id="gifts"></div>
    </div>

    <div class="license">Adi's Organizator2000 v0.1.0</div>
    </body>

</html>