<!DOCTYPE html>




<html lang="de">


<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico')}}">
  <title>Startseite</title>
  <script type="text/javascript" src="{{url_for('static',filename='index.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/ex_style.css')}}"
  </head>

  <body>

    <nav class="topNav">
      <span class="navTitle">Adi's Organizatoor2000</span>
      <a href="http://192.168.1.120:5000/giftpage"><span class="addKid">Geschenke</span></a>
      <a href="http://192.168.1.120:5000/addTask"><span class="addKid">Task hinzufügen</span></a>
      <a href="http://192.168.1.120:5000/tasks"><span class="addKid">Tasks</span></a>
      <a href="http://192.168.1.120:5000/allKids"><span class="addKid">Verwalten</span></a>
      <a href="http://192.168.1.120:5000/addKid"><span class="addKid">Kind hinzufuegen</span></a> 
      <a href="http://192.168.1.120:5000/home"><span class="addKid">Startseite</span></a>
    </nav>

    <div class="content">
      <h1>Heute:</h1>

      <input type="date" id="filterDate" name="filterDate" class="dateInput"/>
      <button type="button" id="btnFilterDate">Nach Datum filtern</button>

      <div id="kinderinfo"></div>
    </div>

    <div class="content">
      <h1>Geburtstage:</h1>

      <div id="birthdays"></div>
      <h2>Geschenke:</h2>
      <div id="gifts"></div>
    </div>

    <div class="license">Adi's Organizator2000 v0.1.0</div>
    </body>

</html>