html {
  background-color : #FFF;
  color : #23A025;
  margin: 0px;
  background: #222222;
}

body{
	margin: 0px;

}

h1 {
  text-decoration: underline;
  font-size: 70px;

}

nav {
	
}

.topNav {
	width: 100%;
	height: auto;
	padding: 30px;
	background-color: rgba(56, 56, 56, 0.8);
	top:0px;
	margin: 0px;
	display: block;
	position: fixed;
	z-index: 99;
}

.kid_box {
  background-color: #7cf2ad;
  width: auto;
  height: auto;
  color: #23A025;
  padding: 30px;
  border: 10px solid #63C18A;
  border-radius: 5px;
  margin: 30px;
  display: inline-block;
}

.content {
	margin:10px;
	margin-top: 130px;
	text-align: center;
	color: #FFF;

}

.navTitle {
	font-size: 30px;
	padding:30px;
	color: #FFF;
}

.addKid {
	float: right;
	padding: 10px;
	margin-right: 30px;
	color: #FFF;
}

.singleRowInput {
	float: right;
	background-color:#ccc;
}

.multiRowInput {
	background-color: #ccc;
}


.box_addKid{
	width: 500px;
	margin: auto;
	color: #23A025;
	background: #7cf2ad;
	padding: 30px;
	border: 10px solid #63C18A;
	border-radius: 10px;
	
}

.icon {
	height: 30px;
	width: auto;
	float: right;
}

.presentBox{
	width: 40px;
	height: 30px;
	background-color: #979797;
	display: inline-block;
	margin:10px;
	border-radius: 5px;
}

.isHere{
	background-color: #2133E3;
}

.task {
	background-color: #B3B3F9;
	border: 10px solid #8080B3;
	display: inline-block;
	border-radius: 5px;
  	margin: 30px;
  	width: auto;
  	height: auto;
  	padding: 30px;	
}

.task .description {
	background-color: rgba(0,0,0,0.1);

	max-width: 200px;
	margin: auto;
}

.license{
	position: fixed;
	bottom: 10px;
	right: 10px;

}

.done{
	background-color: #316045;
	border-color: #224330;
}

.error{
	background-color: #603131; 
	border-color: #432222;
}

.worked_on {
	background-color: #583866;
	border-color: #3D2747;
}

.toDo {
	
}

.checkbox-nav {
	display:inline-block;
}

.buttonWrapper{
	text-align: center;
	display: inline-block;
	position: absolute;
}

#btnApplyFilter{
	position: absolute;
	top: 50%;
	padding:10px;

}

#tasks {
	color: #FFF;
}
